local config = {
  ["terminal"] = "iTerm",
  ["vpn"] = {
    ["username"] = "user",
    ["connectionName"] = "emarsys-remote-access"
  },
  ["projects"] = {
    ["folder"] = "/Users/xxx/projects",
    ["editor"] = "/usr/local/bin/code"
  },
  ["secrets"] = {["namespace"] = "example"},
  ["meetingRooms"] = {
    {
      ["text"] = "First room",
      ["id"] = "123"
    },
    {
      ["text"] = "Second room",
      ["id"] = "456"
    }
  }
}

return config
